<!DOCTYPE html>
<html>
<head>
    <title>Static Website</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    
</head>
<body>
  
    <div class="heading txt-color">
        <center><b>**Create a Node.Js Application which serves a static website**</b></center>
    </div>

    <div class="container">
        <div class="left txt-color">
                
            <center><p class="title">Node.Js </p></center>
            <ol type="1" class="list">
                <li>Node.js is an open source server environment</li>
                <li>Node.js is free</li>
                <li>Node.js runs on various platforms (Windows, Linux, Mac OS X, etc.) </li>
                <li>Node.js uses JavaScript on the server</li>
                <li>Node.js  is used by many big companies like Netflix and Uber</li>
            </ol>
            

        </div>
        <div class="right txt-color">
            <center><p class="title">Express.Js </p></center>
            <ol type="1" class="list">
                <li>It is used to build a single page, multipage, and hybrid web application</li>
                <li>Express was created to make APIs and web applications with ease</li>
                <li>It saves a lot of coding time almost by half and still makes web and mobile applications are efficient.</li>
                <li>For request handling, we can use Middleware</li>
              </ol> 
              
            <center><img src="expres.png" alt="Express JS LOGO" class="exp-logo"></center>
        </div>
    </div>


</body>
</html>